*, *::before, *::after{ 
    box-sizing: border-box;
}
body{
padding: 0;
    margin: 0;
    background-color: #231134;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: #FFF;
        font-family: 'Inter', sans-serif;
}
body > main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #331C48;
    width: 88%;
    height: 80vh;
    text-align: center;
}
.main{
height: 30%;
padding: 2rem;
}
.main h1{
    font-family: 'Carter One', cursive;
}
/* .main p{

} */
.form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
    height: 15rem;
    width: 27rem; 
}
input[type=button]{
    background-color: #5C96C3;
    outline: none;
    cursor: pointer;
    border: 1px solid #5C96C3;
}
 .form input{
    padding: 1rem;
} 

span a{
    color: #5C96C3;
    text-decoration: none;
    cursor: pointer;
    padding:.5rem
}
span a:hover{
    color: rgb(237, 54, 98);
    transition: all 0.1s ease-in-out;
}
 #submit:hover{
    background-color: rgb(237, 54, 98);
    border: 1px solid rgb(237, 54, 98);
    transition: all 0.1s ease-in-out;
}
.signin{
    padding: .5rem;
    font-size: .85rem;
}
@media only screen and (min-width: 42em){
    body > main{
        max-width: 33.5rem;
        height: 32.5rem;
      
    }
    .main h1 {
          font-size: 2.5rem;
        }
}