*, *::before, *::after{ 
    box-sizing: border-box;
}
body{
padding: 0;
    margin: 0;
    background-color: #231134;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: #FFF;
        font-family: 'Inter', sans-serif;
}
body > main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #331C48;
    width: 80%;
    height: 80vh;
    text-align: center;
    align-content: center;
}
.main h1{
    font-family: 'Carter One', cursive;
}
.form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
    /* background-color: yellow; */
    height: 15rem;
    width: 22rem; 
}
input[type=button]{
    background-color: #5C96C3;
    outline: none;
    cursor: pointer;
    border: 1px solid #5C96C3;
}
 .form input{
    padding: 1rem;

} 
span a{
    color: #5C96C3;
    text-decoration: none;
    cursor: pointer;
}
span a:hover{
    color: rgb(237, 54, 98);
    transition: all 0.1s ease-in-out;
}
 #submit:hover{
    background-color: rgb(237, 54, 98);
    border: 1px solid rgb(237, 54, 98);
    transition: all 0.1s ease-in-out;
}
